# PUBLIC SUBMODULES (HTTPS - anyone can clone)
[submodule "modules/nebula"]
	path = modules/nebula
	url = https://github.com/praetorian-inc/nebula.git
[submodule "modules/noseyparker"]
	path = modules/noseyparker
	url = https://github.com/praetorian-inc/noseyparker.git
[submodule "modules/noseyparker-explorer"]
	path = modules/noseyparker-explorer
	url = https://github.com/praetorian-inc/noseyparker-explorer.git

# PRIVATE SUBMODULES (SSH - requires authentication)
# These are NOT included in public clone and NOT in public README
[submodule "modules/trajan"]
	path = modules/trajan
	url = https://github.com/praetorian-inc/trajan.git
[submodule "modules/augustus"]
	path = modules/augustus
	url = https://github.com/praetorian-inc/augustus.git
[submodule "modules/noseyparkerplusplus"]
	path = modules/noseyparkerplusplus
	url = https://github.com/praetorian-inc/noseyparkerplusplus.git
[submodule "modules/nuclei-templates"]
	path = modules/nuclei-templates
	url = https://github.com/praetorian-inc/nuclei-templates.git
[submodule "modules/nero"]
	path = modules/nero
	url = https://github.com/praetorian-inc/nero.git
[submodule "modules/capability-sdk"]
	path = modules/capability-sdk
	url = https://github.com/praetorian-inc/capability-sdk.git
[submodule "modules/brutus"]
	path = modules/brutus
	url = https://github.com/praetorian-inc/brutus.git
[submodule "modules/julius"]
	path = modules/julius
	url = https://github.com/praetorian-inc/julius.git
[submodule "modules/nerva"]
	path = modules/nerva
	url = https://github.com/praetorian-inc/nerva.git
[submodule "modules/titus"]
	path = modules/titus
	url = https://github.com/praetorian-inc/titus.git
[submodule "modules/hadrian"]
	path = modules/hadrian
	url = https://github.com/praetorian-inc/hadrian.git
[submodule "modules/aurelian"]
	path = modules/aurelian
	url = https://github.com/praetorian-inc/aurelian.git
